.App {
  text-align: center;
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #f5f5f5;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #ff6fbd;
  top: 96%;
  left: 90%;
  animation-duration: 38s;
  animation-delay: -49s;
  transform-origin: -10vw 5vh;
  box-shadow: 40vmin 0 5.3478388253699265vmin currentColor;
}
.background span:nth-child(1) {
  color: #fcee63;
  top: 49%;
  left: 9%;
  animation-duration: 52s;
  animation-delay: -8s;
  transform-origin: 18vw 2vh;
  box-shadow: 40vmin 0 5.738109098429766vmin currentColor;
}
.background span:nth-child(2) {
  color: #00b4ff;
  top: 3%;
  left: 90%;
  animation-duration: 46s;
  animation-delay: -44s;
  transform-origin: -22vw -2vh;
  box-shadow: -40vmin 0 5.054341609216023vmin currentColor;
}
.background span:nth-child(3) {
  color: #00b4ff;
  top: 14%;
  left: 86%;
  animation-duration: 30s;
  animation-delay: -1s;
  transform-origin: -2vw 15vh;
  box-shadow: -40vmin 0 5.698038703843402vmin currentColor;
}
.background span:nth-child(4) {
  color: #ff6fbd;
  top: 99%;
  left: 33%;
  animation-duration: 31s;
  animation-delay: -16s;
  transform-origin: 16vw 3vh;
  box-shadow: 40vmin 0 5.520785540828538vmin currentColor;
}
.background span:nth-child(5) {
  color: #ff6fbd;
  top: 100%;
  left: 84%;
  animation-duration: 50s;
  animation-delay: -10s;
  transform-origin: -5vw -16vh;
  box-shadow: 40vmin 0 5.585858447035301vmin currentColor;
}
.background span:nth-child(6) {
  color: #00b4ff;
  top: 83%;
  left: 72%;
  animation-duration: 49s;
  animation-delay: -49s;
  transform-origin: 15vw 2vh;
  box-shadow: 40vmin 0 5.682591781133556vmin currentColor;
}
.background span:nth-child(7) {
  color: #ff6fbd;
  top: 97%;
  left: 92%;
  animation-duration: 39s;
  animation-delay: -3s;
  transform-origin: -3vw 18vh;
  box-shadow: -40vmin 0 5.244445990012789vmin currentColor;
}
.background span:nth-child(8) {
  color: #00b4ff;
  top: 85%;
  left: 78%;
  animation-duration: 53s;
  animation-delay: -25s;
  transform-origin: -6vw 22vh;
  box-shadow: 40vmin 0 5.257964962138005vmin currentColor;
}
.background span:nth-child(9) {
  color: #00b4ff;
  top: 62%;
  left: 46%;
  animation-duration: 16s;
  animation-delay: -21s;
  transform-origin: 19vw 11vh;
  box-shadow: -40vmin 0 5.886022174753827vmin currentColor;
}
.background span:nth-child(10) {
  color: #ff6fbd;
  top: 35%;
  left: 33%;
  animation-duration: 27s;
  animation-delay: -9s;
  transform-origin: 14vw -8vh;
  box-shadow: 40vmin 0 5.13717373669707vmin currentColor;
}
.background span:nth-child(11) {
  color: #ff6fbd;
  top: 86%;
  left: 85%;
  animation-duration: 39s;
  animation-delay: -20s;
  transform-origin: 15vw -20vh;
  box-shadow: 40vmin 0 5.135903833559665vmin currentColor;
}
.background span:nth-child(12) {
  color: #00b4ff;
  top: 5%;
  left: 85%;
  animation-duration: 48s;
  animation-delay: -43s;
  transform-origin: 16vw 14vh;
  box-shadow: 40vmin 0 5.834518416754573vmin currentColor;
}
.background span:nth-child(13) {
  color: #fcee63;
  top: 99%;
  left: 30%;
  animation-duration: 50s;
  animation-delay: -36s;
  transform-origin: 7vw 4vh;
  box-shadow: 40vmin 0 5.413369092024157vmin currentColor;
}
.background span:nth-child(14) {
  color: #ff6fbd;
  top: 62%;
  left: 44%;
  animation-duration: 7s;
  animation-delay: -15s;
  transform-origin: -10vw 0vh;
  box-shadow: 40vmin 0 5.057914761789008vmin currentColor;
}
.background span:nth-child(15) {
  color: #ff6fbd;
  top: 60%;
  left: 57%;
  animation-duration: 44s;
  animation-delay: -6s;
  transform-origin: 20vw 24vh;
  box-shadow: -40vmin 0 5.590563719269227vmin currentColor;
}
.background span:nth-child(16) {
  color: #00b4ff;
  top: 90%;
  left: 51%;
  animation-duration: 11s;
  animation-delay: -26s;
  transform-origin: 20vw 13vh;
  box-shadow: 40vmin 0 5.280591024007104vmin currentColor;
}
.background span:nth-child(17) {
  color: #ff6fbd;
  top: 63%;
  left: 14%;
  animation-duration: 49s;
  animation-delay: -23s;
  transform-origin: 9vw 5vh;
  box-shadow: 40vmin 0 5.5088708100310075vmin currentColor;
}
.background span:nth-child(18) {
  color: #00b4ff;
  top: 86%;
  left: 93%;
  animation-duration: 20s;
  animation-delay: -15s;
  transform-origin: 18vw 24vh;
  box-shadow: -40vmin 0 5.48052493879574vmin currentColor;
}
.background span:nth-child(19) {
  color: #ff6fbd;
  top: 16%;
  left: 44%;
  animation-duration: 29s;
  animation-delay: -30s;
  transform-origin: -13vw 16vh;
  box-shadow: 40vmin 0 5.041822431095743vmin currentColor;
}


.glassmorphism-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #EECFBA, #C5D6D8);
}

.glassmorphism-effect {
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100.0px);
  border: 2px solid rgba(255, 255, 255, 0.18);
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 90px;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background: #00b4ff;
  background: linear-gradient(to right, rgb(0, 180, 255), rgb(0, 180, 255));
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(95, 223, 255, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  bottom: 20%;
}

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 40px);
  border: 6px solid #ff6fbd;
  box-shadow: 0 0 60px rgba(255, 111, 189, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #eecfba;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ff6fbd;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


.logo img{
  height: 150px;
  margin-right: 80%;
}


.wrapper-title{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.wrapper-title span{
  color: #ff00b4;
}

.title{
  width: 21ch;
  overflow: hidden;
  color: #00b4ff;
  font-size: 40px;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid #ff6fbd;
  animation: printed-text 5s steps(21) infinite,
  flashin-border .75s step-start infinite;
}

@keyframes flashin-border{
  0%{
    border-color: #ff6fbd;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: #ff6fbd;
  }
}

@keyframes printed-text {
  from {
    width: 0%;
  }
}


.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #EECFBA, #C5D6D8);
  border-radius: 18px;
}

.modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.modal-content h2 {
  color: #00b4ff; 
  animation: colorChange 10s infinite alternate; 
}

@keyframes colorChange {
  0% {
    color: #00b4ff; 
  }
  50% {
    color: #ff00b4; 
  }
  100% {
    color: #00b4ff; 
  }
}

.close {
  color: #ff6fbd;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


label {
  cursor: pointer;
}



input, select, button, textarea {
  margin: 0;
  font-size: 100%;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


.top-header:before {
    background-image: url(https://1.bp.blogspot.com/-gxsOcYWghHA/Xp_izTh4sFI/AAAAAAAAU8s/y637Fwg99qAuzW9na_NT_uApny8Vce95gCEwYBhgL/s1600/header-footer-gradient-bg.png);
}
.top-header:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
  opacity:0.5;
}


.starsec{
  content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
   box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
  animation: animStar 150s linear infinite;
}

.starthird
{
  content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
   box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
  animation: animStar 10s linear infinite;
}

.starfourth
{
  content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
   box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
  animation: animStar 50s linear infinite;
}

.starfifth
{
  content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
   box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
  animation: animStar 80s linear infinite;
}

@keyframes animStar
{
  0% {
    transform: translateY(0px);
}
  100% {
    transform: translateY(-2000px);
}
}



button {
  border: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;
  cursor: pointer;
}

:focus {
  outline: 0;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.error {
  min-height: 100vh;
  position: relative;
  padding: 240px 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 70px;
}

.error__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.error__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error__message {
  text-align: center;
  color: #181828;
}

.message__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
   font-size: 5.6rem;
  padding-bottom: 40px;
  max-width: 960px;
  margin: 0 auto;
}

.message__text {
  font-family: 'Montserrat', sans-serif;
  line-height: 42px;
  font-size: 18px;
  padding: 0 60px;
  max-width: 680px;
  margin: auto;
}

.error__nav {
  max-width: 600px;
  margin: 40px auto 0;
  text-align: center;
}

.e-nav__form {
  position: relative;
  height: 45px;
  overflow: hidden;
  width: 170px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #212121;
  padding-left: 10px;
  padding-right: 46px;
}

.e-nav__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #212121;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.e-nav__link {
  height: 45px;
  line-height: 45px;
  width: 170px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  border: 1px solid #181828;
  color: #181828;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1rem;
  position: relative;
  overflow: hidden;
}

.e-nav__link:before {
  content: '';
  height: 200px;
  background: #009688;
  position: absolute;
  top: 70px;
  right: 70px;
  width: 260px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.e-nav__link:after {
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 999;
  position: relative;
}

.e-nav__link:hover {
  color: #009688;
}

.e-nav__link:nth-child(2):hover:after {
  color: #fff;
}

.error__social {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  z-index: 10;
}

.e-social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.e-social__icon {
  padding-bottom: 30px;
}

.e-social__icon:last-child {
  padding-bottom: 0;
}

.e-social__link {
  color: #fff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: block;
}

.e-social__link:hover {
  opacity: .7;
}

.lamp {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center top;
  animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
  animation: move 5.1s infinite;
}

@keyframes move {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.cable {
  width: 8px;
    height: 248px;
    background-image: linear-gradient(rgb(32 148 218 / 70%), rgb(193 65 25)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.cover {
  width: 200px;
  height: 80px;
  background: #0bd5e8;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  z-index: 200;
}

.in-cover {
  width: 100%;
  max-width: 200px;
  height: 20px;
  border-radius: 100%;
  background: #08ffff;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  bottom: -9px;
  z-index: 100;
}
.in-cover .bulb {
     width: 50px;
    height: 50px;
    background-color: #08fffa;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0px auto;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,255,255,0.8), 0 0 40px 25px rgba(0,255,255,0.5), -75px 0 30px 15px rgba(0,255,255,0.2);
    box-shadow: 0 0 25px 7px rgb(127 255 255 / 80%), 0 0 64px 47px rgba(0,255,255,0.5), 0px 0 30px 15px rgba(0,255,255,0.2);
}


.light {
      width: 200px;
    height: 0px;
    border-bottom: 900px solid rgb(44 255 255 / 24%);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 270px;
    margin: 0px auto;
    z-index: 1;
    border-radius: 90px 90px 0px 0px;
}

.error {
  overflow: hidden;
  max-height: 100vh;
}
@media (max-width: 1400px) { 
  .lamp {
    zoom: .5;
  }
  .error__content {
    top: 55%;
  }
  .message__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 900px) {

  .message__title {
    font-size: 34px;

  }
  .error__content {
    top: 55%;
  }
  }
@media (max-width: 950px) {
  .lamp__wrap {
    max-height: 100vh;
    overflow: hidden;
    max-width: 100vw;
  }
  .error__social {
    bottom: 30px;
    top: auto;
    transform: none;
    width: 100%;
    position: fixed;
    left: 0;
  }
  .e-social__icon {
    display: inline-block;
    padding-right: 30px;
  }
  .e-social__icon:last-child {
    padding-right: 0;
  }
  .e-social__icon {
    padding-bottom: 0;
  }
}
@media (max-width: 750px) {

   .error__content {
    position: static;
    margin: 0 auto;
    transform: none;
    padding-top: 300px;
  }
  .error {
    padding-top: 0;
    padding-bottom: 100px;
    height: 100vh;
  }
  }

@media (max-width: 650px) {
  .message__title {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .message__text {
    font-size: 16px;
    line-height: 2;
    padding-right: 20px;
    padding-left: 20px;
  }
  .lamp {
    zoom: .6;
  }
  .error__content {
    padding-top: 180px;
  }
  }
@media (max-width: 480px) {

  .message__title {
    font-size: 30px;
  }
  .message__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .error__nav {
    margin-top: 20px;
  }
}

.login-container {
  position: relative;
}


.login-form {
  position: absolute;
  width: 400px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.login-form h1 {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  color: #007bff;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  padding-right: 130px;
  font-weight: bold;
}

.login-form input {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100px;
  height: 30px;
  padding: 10px;
  background-color: #007bff;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.alert {
  padding: 15px;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-top: 10px;
}


.Cart-Container {
  margin-top: 20px;
  height: 90vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart{
  width: 70%;
  background-color: #ffffffba;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  z-index: 999;
  overflow-y: auto;
 }


 .options-container{
  position: absolute; 
  top: 3%; 
  width: 70%;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffffba;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: relative; 
 }

 .Header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .Header h3{
  font-size:25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #2F3841;
 }

 .Action{
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
 }

 .Action img{
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
 }

 .Action img:hover{
  transform: scale(1.5);
 }


 .Cart-Items{
  margin: auto;
  width: 90%;
  height: 30%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff8b;
  box-shadow: 0px 25px 40px #1687d933;
  border-radius: 25px;
 }
 .image-box{
  width: 15%;
  text-align: center;
  cursor: pointer;
 }
 .about{
  height: 100%;
 }
 .item-title{
  padding-top: 5px;
  line-height: 10px;
  font-size: 24px;
  width: 240px; 
  font-family: sans-serif;
  font-weight: 600;
  color: #202020;
  white-space: nowrap; 
  text-overflow: ellipsis;
 }


 .counter{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00b4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: bold;
  color: #202020;
  cursor: pointer;
 }

 .count{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 900;
  color: #202020;
 }

 .prices{
  height: 100%;
  margin-right: 50px;
  margin-top: 30px;
  font-family: sans-serif;
 }


 .amount{
  padding-top: 20px;
  font-size: 26px;
  font-weight: 800;
  color: #28976e;
 }


 .remove{
  padding-top: 5px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
 }

 .remove img{
  width: 35px;
  height: 35px;
 }

 .checkout{
  float: right;
	margin-right: 5%;
	width: 28%;
 }
 
 .total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
  font-family: sans-serif;
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
  font-family: sans-serif;
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  color: #28976e;
}

.checkout-button{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0px 25px 40px #1687d933;
    background: linear-gradient(to bottom right, #ff6fbd, #bd6fff);
    border-radius: 20px;
    cursor: pointer;
}

.checkout-button img{
  width: 50px;
  height: 50px;
}


.label-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


label {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: sans-serif;
}


select {
  width: 20%;
  font-size: 20px;
  height: 42px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: #28976e;
  font-weight: bold;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.upload-container {
  background-color: #0056b3;
  position: relative;
}


.upload-content {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.upload-content .multi-file-upload {
  margin-top: 20px; 
}

.dropzone {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #ffffffba;
  box-shadow: 0px 25px 40px #1687d933;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropzone p {
  margin: 0;
}

.file-list {
  font-family: sans-serif;
  margin-top: 20px;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffffba;
  box-shadow: 0px 25px 40px #1687d933;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.file-details {
  display: flex;
  align-items: center;
}

.file-name {
  margin-right: 10px;
}

.delete-button img{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  padding: 20px 10px;
  cursor: pointer;
}
